@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+JP:wght@900&family=Noto+Sans+Mende+Kikakui&family=Noto+Serif:wght@700&family=Oswald:wght@500&family=Poppins:wght@400;500;600&family=Raleway&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+JP:wght@900&family=Noto+Sans+Mende+Kikakui&family=Noto+Serif:wght@700&family=Nunito:ital,wght@0,800;1,600&family=Oswald:wght@500&family=Poppins:wght@400;500;600&family=Raleway&family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@600&display=swap');
html,body {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x :hidden;

  background-image: url(./img/bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
} 

.widget-container {
  height: 450px;
  /* display: block; */
  background-color: #313e45;
  border-radius: 25px;
  background-image: url(./img/weather.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}


/* Widget 4 Quarter Division here */

.top-left {
  height: 60%;
  width: 50%;
  display: inline-block;
}

.top-right {
  height: 60%;
  width: 50%;
  float: right;
}

.bottom-left {
  height: 40%;
  width: 40%;
  /*   background-color:orange; */
  float: left;
  margin: 0;
}

.bottom-right {
  height: 50%;
  width: 60%;
  float: right;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}


/* Top-left Div CSS */

#city {
  font-weight: 900;
  font-size: 25px;
}

#day {
  font-weight: 700;
  font-size: 20px;
  margin-top: 18px;
}

#date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 4px;
}

#time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}




.top-left > a {
  text-decoration: none;
  color: white;
}

.top-left > a:hover {
  color: #b0bec5;
}




#weather-status {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}




.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: #6b6b6b;
}

.vertical-half-dividr {
  width: 3px;
  position: absolute;
  height: 150px;
  background-color: #626262;
  float: right;
  display: inline-block;
  padding: 0;
}


/* Bottom-left CSS */

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}

#heading{
  font-family: 'Nunito', sans-serif;
}
